html { height: 100%; font-family: Roboto; }

header, h2 { text-align: center;}

.game-options {
  display: flex;
  flex: 1;
  min-height: 20vh;
  justify-content: center;
}

button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  height: 150px;
  width: 150px;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  padding: 10px 10px;
}

button span { font-size: 1.3rem; }


#Rock { background-image: url(resources/images/landslide.png); }
#Paper { background-image: url(resources/images/document.png); }
#Scissors { background-image: url(resources/images/scissors.png); }

.game-results { text-align: center; }
.game-results p { font-size: .9rem; font-style: italic;
}
table {
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
tr { height: 50px; }
th { text-transform: uppercase; background-color: hsl(134,0%, 83%); }
td { font-size: 3rem;}
